body {
    background:url("./deck.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    text-shadow: 3px 3px #0d0d0e;
    color: #e2e8ee;
  }
  
  h2 {
    font-weight: 300;
    text-align: center;
  }
  
  p {
    position: relative;
  }
  
  a,
  a:link,
  a:visited,
  a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  a:focus, a:hover,
  a:link:focus,
  a:link:hover,
  a:visited:focus,
  a:visited:hover,
  a:active:focus,
  a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #login-form-wrap {
    background-color: rgba(5, 5, 5, 0.10);
    width: 35%;
    margin: 30px ;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    /* box-shadow: 0px 30px 50px 0px rgba(224, 218, 218, 0.2); */
  }
  
  #login-form {
    padding: 0 60px;
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  
  input::placeholder {
    color: rgb(255, 255, 255);
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #faf5f5;
    border: 1px solid #9b9696;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #3ca9e2;
  }
  input[type="text"]:focus:invalid,
  input[type="password"]:focus:invalid {
    color: #5e050b;
    border-color: #5e050b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="password"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="password"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="password"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="password"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  
  button {
    border: none;
    display: block;
    background-color: rgba(226, 63, 63, 0.4);
    color: rgb(250, 249, 249);
    text-shadow: 2px 2px #0d0d0e;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  button:hover {
    background-color: rgba(124, 3, 3, 0.705);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #create-account-wrap {
    /* background-color: rgba(226, 10, 10, 0.4); */
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
    font-weight: bold;
    box-shadow: 0px 30px 50px 0px rgba(224, 218, 218, 0.2);
  
  }
  
  .footer{
    font-size: 20px;
  
  }
  
  #create-account-wrap:hover{
    background-color:rgba(124, 3, 3, 0.705);
  
  
  }